@{
    ViewData["Title"] = "About";
}

<h2>About Me</h2>

<h4>Boring text ahead: </h4>
<p>I've been a pc gamer since I was 5 years old. At some points in my teens, I decided to get into game programming and bought a bunch of books regarding using C++ in game development. But with my not-so-laser-like focus, I didn't really take to it and only got as far as a hello world console program that took the user's name. After that, I dipped very briefly into the world of code several more times through high school, but I could never really get into it. Finally, upon reaching my mid-20s, I figured I had gained the patience I had never had as a teen and decided to attend a coding bootcamp and found Epicodus, and it turned out that web development is a great fit for me. It seems like web developers work on projects for shorter amounts of time than in most other coding fields, so the field definitely fits someone like me who needs new stimuli in relatively short order to stay motivated. Then you also get to enjoy two kinds of problem-solving, with technical problems in the back-end and creative ones in the front-end. </p>
